anthropic
apify_client
email-validator
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchainhub
langgraph
langsmith
openai
pinecone-client
PyPDF2
pydantic
requests
sentence-transformers
streamlit
firebase_admin
huggingface_hub
