anthropic==0.25.1
apify_client==1.6.4
email-validator==2.1.1
langchain==0.3
langchain-anthropic
langchain-community==0.0.15
langchain-core==0.3.21
langchain-openai
langchainhub==0.1.14
langgraph==0.0.17
langsmith
openai==1.9.0
pinecone-client==3.0.0
PyPDF2==3.0.1
pydantic==2.7.4
requests==2.30.0
sentence-transformers==2.2.2
streamlit==1.29.0
firebase_admin
huggingface_hub==0.24.7
