anthropic
apify_client==1.6.4
email-validator==2.1.1
langchain
langchain-anthropic
langchain-core
langchain-openai
langsmith
openai==1.9.0
pinecone-client==3.0.0
PyPDF2==3.0.1
pydantic
requests==2.30.0
sentence-transformers==2.2.2
streamlit==1.29.0
firebase_admin
huggingface_hub==0.24.7
